<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Admin Painel</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<form th:action="@{/}" method="get">
		<button class="btn btn-md btn-warning btn-block" type="Submit">Go To Login Page</button>
	</form>	
	
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<form autocomplete="off" action="#" th:action="@{/edit-users}"
					th:object="${user}" method="post" class="form-horizontal"
					role="form">
					<h2>Update User</h2>

					<input style="display:none" type="text" th:field="*{id}"
						   class="form-control" />

					<div class="form-group">
						<div class="col-sm-9">
							<input class="checkbox" type="checkbox"  th:value="*{active}" th:field="*{active}"  th:checked="*{active}" name="active">Active</input>
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-9">
						<label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
								class="validation-message"></label>
						<input type="text" th:field="*{name}" placeholder="Name"
								class="form-control" /> 
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-9">
						<label	th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
								class="validation-message"></label>
							<input type="text" th:field="*{lastName}"
								placeholder="Last Name" class="form-control" /> 
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-9">
							<input type="text" th:field="*{email}" placeholder="Email"
								class="form-control" /> <label
								th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
								class="validation-message"></label>
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-9">
							<input type="password" th:field="*{password}"
								placeholder="Password" class="form-control" /> <label
								th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
								class="validation-message"></label>
						</div>
					</div>

					<h4>Roles to Add</h4>
					<table class="table table-bordered">
						<tbody>
						<tr>
							<td>
								<select th:field="*{roles}" class="form-control" id="roles" name="roles">
									<option th:each="role : ${roles}"
											th:value="${role.id}"
											th:text="${role.role}"
									/>
								</select>
							</td>
							<td style="text-align:  center;font-size: 18px;color: bl">
								<button class="btn btn-md btn-warning btn-block" type="Submit">
									Add Role
								</button>
							</td>
						</tr>
						</tbody>
					</table>

					<h4>User Roles :</h4>

					<table class="table table-bordered">
						<tbody>
						<th:block th:each="role : ${user.roles}">
							<tr>
								<td th:text="${role.role}">...</td>
								<form th:action="@{/edit-users}" method="get">
									<td style="text-align:  center;font-size: 18px;color: bl">
										<button class="btn btn-md btn-warning btn-block" type="Submit">
											Remove
										</button>
									</td>
								</form>
							</tr>
						</th:block>
						</tbody>
					</table>

					<div class="form-group">
						<div class="col-sm-9">
							<button type="submit" class="btn btn-primary btn-block">Save</button>
						</div>
					</div>
					
					<span th:utext="${successMessage}"></span>

				</form>

			</div>
		</div>
	</div>

</body>
</html>